<div class="app mat-elevation-z8">
  <div class="app__header">
    <mat-toolbar color="primary">Todos</mat-toolbar>
    <form class="new-todo-container">
      <mat-form-field class="is-fullWidth">
        <input type="text" matInput autofocus placeholder="What needs to be done?" [(ngModel)]="newTodoText" name="todo" (keyup.enter)="addTodo()">
      </mat-form-field>
    </form>
  </div>
  <main class="app__main" *ngIf="dataSource?.data.length > 0;">
    <mat-table #table [dataSource]="dataSource" class="todoTable">
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef class="todoTable__row todoTable__row--status">
<!-- 
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
 -->
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="todoTable__row todoTable__row--status">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? toggleCompletion(row) : null"
                        [checked]="row.completed">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row._title}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef class="todoTable__row todoTable__row--delete"> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="todoTable__row todoTable__row--delete">
          <button mat-button (click)="removeTodo(row)">Delete</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleCompletion(row)"></mat-row>
    </mat-table>
  </main>
  <footer class="app__footer cf">
    <span class="count">{{getRemaining().length}} items left</span>

    <span class="filter">
      <mat-radio-group (change)="changeFilter($event)" value="all">
        <mat-radio-button value="all">All</mat-radio-button>
        <mat-radio-button value="active">Active</mat-radio-button>
        <mat-radio-button value="completed">Completed</mat-radio-button>
      </mat-radio-group>
    </span>

    <button class="clear-completed" mat-button *ngIf="getCompleted().length > 0" (click)="removeCompletedTodo()">Clear completed</button>
  </footer>
</div>
